<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.overlay.cctg"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.build.version.sdk"
                android:requiredSystemPropertyValue="32"
		android:priority="78"
		android:isStatic="true" />
</manifest>
